# Environnements virtuels
venv/
venv/*

# Fichiers Python générés
__pycache__/
*.py[cod]
__pycache__/*

# Caches de test
.pytest_cache/
.pytest_cache/*

# Fichiers spécifiques au système
.DS_Store
Thumbs.db

# Dépendances de Node.js
node_modules/

# Répertoires Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/
